<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>管理者ログイン</title>
</head>
<body>
  <h1>ログイン</h1>

  <form th:action="@{/admin/signin}" method="post" th:object="${adminForm}">
    <table>
      <tr>
        <th>メールアドレス：</th>
        <td><input type="email" th:field="*{email}" required></td>
      </tr>
      <tr>
        <th>パスワード：</th>
        <td><input type="password" th:field="*{password}" required></td>
      </tr>
    </table>
    <br>
    <button type="submit">ログイン</button>
  </form>
</body>
</html>